<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css">
    <link rel="stylesheet" href="/layui/css/error.css" type="text/css">
</head>

<body class="layui-layout-body layui-bg-green">
<div>
    <img src="/layui/images/browser-under construction.svg"/>
    <span>Tips:禁止访问</span>
    <button	class="layui-btn layui-btn-radius layui-btn-normal">返回首页</button>
    <button	class="layui-btn layui-btn-radius layui-btn-primary">联系我们</button>
</div>
</body>
</html>